.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__yp7J6 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__xPBzT {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__xPBzT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__xPBzT > :global(.__wab_flex-container) > *,
.freeBox__xPBzT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__chFDo:global(.__wab_instance) {
  position: relative;
}
.freeBox__fp1C8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__fp1C8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__fp1C8 > :global(.__wab_flex-container) > *,
.freeBox__fp1C8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fp1C8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fp1C8 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fp1C8 > :global(.__wab_flex-container) > *,
  .freeBox__fp1C8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__xRjRk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__xRjRk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__xRjRk > :global(.__wab_flex-container) > *,
.freeBox__xRjRk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xRjRk {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__ruxRr {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.freeBox__t9GQn {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__iNtO2:global(.__wab_instance) {
  position: relative;
}
.svg__oA5F {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__eh7Z2 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qav0W:global(.__wab_instance) {
  position: relative;
}
.svg__rVymx {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__keWhe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__fvkGc:global(.__wab_instance) {
  position: relative;
}
.svg__bvMij {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__szdq {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__bcpo3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bcpo3 {
    width: 100%;
    min-width: 0;
  }
}
.img__nbzI {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__fkeuq {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.freeBox__s0W3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.freeBox___1UwBs {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.freeBox__jHLt9 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__zNcQt {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.section__uHpQ:global(.__wab_instance) {
  align-self: center;
}
.freeBox__cAuP {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__cAuP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__cAuP > :global(.__wab_flex-container) > *,
.freeBox__cAuP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard___62Las:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ejkfe {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: iM3MfcUnesyYwc */;
}
.svg__nYbHd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__tC2Av:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__s6Amj {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: iM3MfcUnesyYwc */;
}
.svg__yLxmx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___76NZq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fCys {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: iM3MfcUnesyYwc */;
}
.svg__chH3M {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__xBbRt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tJLvp {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: iM3MfcUnesyYwc */;
}
.svg__dmaEg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___1LyLb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ztewi {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: iM3MfcUnesyYwc */;
}
.svg__wpdpk {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__w6SLe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qiPU {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: iM3MfcUnesyYwc */;
}
.svg___9Be41 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__hzhVb {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 311RaXQ6E7gx86 */;
}
.freeBox__tZvBz {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__ocT0 {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__ocT0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ocT0 > :global(.__wab_flex-container) > *,
.freeBox__ocT0 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.section__d3Ksi:global(.__wab_instance) {
  position: relative;
}
.freeBox__quvkS {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__quvkS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__quvkS > :global(.__wab_flex-container) > *,
.freeBox__quvkS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__pcjbl {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__waGcF {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___1N5M8 {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__k5WA9 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__la6AH {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
