.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__fuwzp {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 311RaXQ6E7gx86 */;
}
.freeBox__fqBtp {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__fqBtp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__fqBtp > :global(.__wab_flex-container) > *,
.freeBox__fqBtp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fqBtp {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fqBtp > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fqBtp > :global(.__wab_flex-container) > *,
  .freeBox__fqBtp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dJeKc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__dJeKc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dJeKc > :global(.__wab_flex-container) > *,
.freeBox__dJeKc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__ev9F5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__srGd8 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__rPd3A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___9Blgn {
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link___9Blgn:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___0KvM3 {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
}
.link___3ZeVr {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link___3ZeVr:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__wPdNe {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wPdNe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__wPdNe > :global(.__wab_flex-container) > *,
.freeBox__wPdNe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wPdNe {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wPdNe > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wPdNe > :global(.__wab_flex-container) > *,
  .freeBox__wPdNe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__nscbJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__nscbJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nscbJ > :global(.__wab_flex-container) > *,
.freeBox__nscbJ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__txzPb {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__h3Zyt {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
}
.root .link__h3Zyt:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___4P2KA {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link___4P2KA:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___03Cmt {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link___03Cmt:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__mFsYd {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__mFsYd:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__tTaX {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__tTaX:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__eG9ZJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__eG9ZJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eG9ZJ > :global(.__wab_flex-container) > *,
.freeBox__eG9ZJ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__sd7Tn {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___0NSdP {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link___0NSdP:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ilnAw {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__ilnAw:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___0CSm0 {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link___0CSm0:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vDsec {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__vDsec:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__a8FjX {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__a8FjX:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__ym10J {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ym10J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ym10J > :global(.__wab_flex-container) > *,
.freeBox__ym10J > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__tJw9X {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__taQbK {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__taQbK:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dE2X {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__dE2X:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__udHkP {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__udHkP:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___5OKd {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link___5OKd:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__cI8Jq {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
}
.root .link__cI8Jq:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__eRbtH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__eRbtH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eRbtH > :global(.__wab_flex-container) > *,
.freeBox__eRbtH > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__kitks {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.freeBox__wz0Cv {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
}
.freeBox__ieu1I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.freeBox__mvKko {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1px;
  height: 16px;
  background: rgb(228, 230, 235);
  flex-shrink: 0;
}
.button {
  position: relative;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-style: none;
}
.svg__hLtpu {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  flex-shrink: 0;
}
.freeBox___1RfcH {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 311RaXQ6E7gx86 */;
}
.freeBox__uLiSm {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__uLiSm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uLiSm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uLiSm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uLiSm > :global(.__wab_flex-container) > *,
  .freeBox__uLiSm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__y2Gy0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___09Hsx {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  height: auto;
  font-size: 14px;
}
.root .link___09Hsx:hover {
  text-decoration-line: underline;
}
.link__p0Zw {
  position: relative;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  font-size: 14px;
  height: auto;
  width: auto;
  display: inline-block;
}
.root .link__p0Zw:hover {
  text-decoration-line: underline;
}
.freeBox__bQvm {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: RDOSYv2uVmzZk1 */;
  display: inline-block;
}
.link__riKZs {
  position: relative;
  font-size: 14px;
  margin: 0px 0px 0px 8px;
}
.freeBox__tFjwz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tFjwz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tFjwz > :global(.__wab_flex-container) > *,
.freeBox__tFjwz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__lRo6N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rbTcR {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__rbTcR:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__a97Si:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__goRo {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__goRo:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__ijub7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jTVzH {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__jTVzH:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
