.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.avatar:global(.__wab_instance) {
  position: absolute;
  left: 44.01%;
  top: -28px;
  z-index: 2;
  flex-shrink: 0;
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg {
  position: absolute;
  object-fit: cover;
  width: 64px;
  height: 64px;
  left: 52%;
  top: -40px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  z-index: 1;
  flex-shrink: 0;
}
.freeBox__aTtal {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 768px;
  flex-direction: column;
  min-width: 0;
  padding: 80px 48px 32px;
  border: 2px solid rgb(201, 204, 209) /* plasmic-token: GpcED8_AcIn */;
}
.freeBox__aTtal > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__aTtal > :global(.__wab_flex-container) > *,
.freeBox__aTtal > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.freeBox__jdlGf {
  position: relative;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__hm2Rr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hm2Rr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hm2Rr > :global(.__wab_flex-container) > *,
.freeBox__hm2Rr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__yjt1H {
  font-weight: 700;
}
.freeBox__x3Emh {
  position: relative;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
}
